.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: linear-gradient(-45deg, wheat, #ba8096, #a0c6d3, #b8e5da);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.slider {
  position: relative;
  height: flex;
  justify-content: right;
  align-items: right;
  margin-top: 2em;
}


.image {
  width: 300px;
  height: 375px;
  border-radius: 50px;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: wheat;
  z-index: 10;
  cursor: pointer;
  user-select: none;

}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: wheat;
  z-index: 10;
  cursor: pointer;
  user-select: none;

}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border: solid wheat;
}

.links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: space-between;
  margin: 10px;
  padding: 3px;

}

.navbar_link {
  text-decoration: none;
  border: solid;
  padding: 3px;
  background-color: transparent;
  margin: 5px;
  border-radius: 5px;
}

.mainDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

.dahliapic {
  display: flex;
  justify-content: left;
  height: 250px;
  width: 175px;


}

.about {
  display: flex;
  text-indent: 5px;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  text-decoration-color: #23d5ab;
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 5px;
}

.wit {
  display: flex;
  align-items: center;
  align-content: left;
  height: 100px;
  width: 100px;
}